<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Chats </h1>
    {% if no_of_box %}
        {% for i in range(no_of_box) %}
            <p>{{hist1[i]}}</p>
        {% endfor %}
    {% endif %}
    <form action="/chat" method="POST">
        <input type="text" name="msg" placeholder="Type Here">
        <button type="submit">submit</button>
    </form>

</body>
</html>