<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="signup">
        <input
            type="text"
            class="field"
            name="firstname"
            placeholder="Firstname"
        />
        <input
            type="text"
            class="field"
            name="lastname"
            placeholder="Lastname"
        />
        <input
            type="text"
            class="field"
            name="email"
            placeholder="E-Mail"
        />
        <input
            type="password"
            class="field"
            name="password"
            placeholder="Password"
        />
        <input
            type="number"
            class="field"
            name="age"
            placeholder="age"
        />
        <input
            type="text"
            class="field"
            name="disability"
            placeholder="Enter"
        />
        <button type="submit" >Sign up</button>

</form>
</body>
</html>